// Colors
$primary-left: #f30925;
$primary-right: #b30a29;
$primary-center: #cc2439;
$background-primary: #271015;
$background-gray: #100d0d;

// Sizes
$default-offset: 1vw;
$default-elements-offset: 0.92vw;
$default-background-border: 0.8vw;
$default-border: 0.52vw;

// Font sizes
$s40px: 2.083vw;
$s36px: 1.875vw;
$s30px: 1.5625vw;
$s28px: 1.458vw;
$s26px: 1.25vw;
$s24px: 1.25vw;
$s22px: 1.145vw;
$s20px: 1.041vw;
$s18px: 0.9375vw;
$s16px: 0.82vw;
$s14px: 0.73vw;
$s12px: 0.625vw;
